.root{
    -icons-color: gray;
    -top-icons-color: white;
    -base-icons-color: black;
}

.glyph-icon{
    -fx-fill: -icons-color;
}

.stack-base{
    -fx-font-size: 3em;
    -fx-fill: -base-icons-color;
}

.stack-top{
    -fx-font-size: 2em;
    -fx-fill: -top-icons-color;
}

.blue-icon{
    -icons-color: blue;
    -fx-fill: linear-gradient(-icons-color 0%, derive(-icons-color, 100%) 30%, derive(red, 30%) 85%);
}

.green-icon{
    -icons-color: green;
    -fx-fill: linear-gradient(-icons-color 0%, derive(-icons-color, 100%) 30%, derive(red, 30%) 85%);
}

.exit-button{
    -icons-color: gray;
}

.alien-button{
    -icons-color: yellowgreen;
}

.thumbs-up-icon{
    -glyph-name: "THUMBS_UP";
    -glyph-size: 6em;
}

.thumbs-down-icon{
    -glyph-name: "THUMBS_DOWN";
    -glyph-size: 6em;
}







